.player1{
    height:50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
}
.player2{
    height:50px;
    width: 50px;
    border-radius: 50%;
    background-color: black
}
.column{
    height: 300px;
    width: 50px;
    border: black 3px solid;
    display: flex;
    flex-direction: column-reverse;

}
#border{
    display:flex;

}